.blog-div{
  border: solid white;
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 10%;
}

.blog-image{
  /* border: solid blue; */
  height: 500px;
  width: auto;
}

.blog-content{
  border: solid black;
}

.blog-title{
  /* border: solid red; */
  font-size: 40px;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.blog-text{
  /* border: solid purple; */
  font-size: 22px;
  color: aliceblue;
  font-family: 'Quicksand', sans-serif;
}