.recent-posts-container{
  border: solid white;
  width: 80%;
  margin: auto;
  margin-top: 10%;
  padding-bottom: 80%;
}

.recent-title {
  /* border: solid blue; */
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  border-bottom: solid white;
  padding-bottom: 10px;
}

.recent-posts{
  /* border: solid green; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 1000px;
}

.recent-div{
  /* border: solid purple; */
}