.post-edit-div{
border: solid black;
margin-top: 10%;
margin-right: 10%;
margin-left: 10%;
padding-bottom: 10px;
}

.post-edit{
  /* border: solid green; */
  display: flex;
  justify-content: center;
}

.input-container{
  display: flex;
  flex-direction: column;
}