.header-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: white;
  border-bottom: solid black;
}

.header-title{
 /* border: solid blue; */
}

.header-sign{
  display: flex;
  position: fixed;
  right: 0;
  /* border: solid green; */
}

.header-username{
  /* border: solid purple; */
}

.header-button{
 /* border: solid grey; */
}

.header-link{
  /* border: solid grey; */
}